*{
    margin: 0;
    padding: 0;
}
*::after
*::before{
    box-sizing: inherit;
}
.section-cont{
    position: fixed;
    z-index: 2;
}
.header-cont{
    width: 13200;
    padding: auto;
}
.container{
    height: 80px;
    position: sticky;
    background-color: white;
    z-index: 1;
}
.img-header-name{
    margin-left: 120px;
    margin-top: 20px;
}
.home-ul{
    font-family: 'Catamaran';
    display: flex;
    list-style: none;
    margin-left: 520px;
    margin-top: -30px;
}
.home-li{
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: black;
}

.img-cont{
    background-color: white;
}
.img-flag{
    position: absolute;
    margin-left: 1150px;
    margin-top: -30px;
}
.img-arrow-2{
    position: absolute;
    margin-left: 1240px;
    margin-top: -12px;
}
.en{
    margin-left: 1220px;
    margin-top: -30px;
} 
.Rainbow-img{
    width: 80px;
    height: 160px;
    z-index: -1;
}
.kubic-img{
    margin-top: 200px;
    margin-left: 150px;
}
.solution{
    font-family: 'Catamaran';
    margin-left: 350px;
    margin-top: -180px;
}
.lorem{
    font-family: 'Catamaran';
    margin-left: 450px;
    margin-top: 35px;
}
.input-1{
    width: 200px;
    height: 70px;
    margin-left: 350px;
    font-family: 'Catamaran';
    letter-spacing: 0.02em;
    color: #858585;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 15px
}
.int-button-ferst{
    width: 140px;
    height: 60px;
    background: #D22238;
    border-radius: 10px;
    margin-top: 100px;
    font-family: 'Catamaran'
}
.img-people{
    width: 500px;
    height: 500px;
    margin-top: -380px;
    margin-left: 730px;
    z-index: 99;
}
.img-band{
    position: absolute;
    width: 120px;
    margin-left: -100px;
    margin-top: -130px;
    z-index: 0;
}
.img-menu{
    margin-top: -150px;
    margin-left: 950px;
}
.clicking-button{
    margin-left: 350px;
    margin-top: 15px;
    font-family: 'Catamaran';
}
.terms{
    color: red;
}
.img-about{
    width: 70px;
    height: 400px;
    margin-top: 20px;
}
.girl-and-boy{
    width: 270px;
    height: 430px;
    border-radius: 10px;
    margin-left: 20px;
}
.img-teacher{
    position: absolute;
    width: 270px;
    height: 430px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 20px;
}
.business-solution{
    position: absolute;
    margin-left: 700px;
    margin-top: -430px;
    font-size: 35px;
    font-family: 'Catamaran';
}
.business-plan{
    margin-left: 700px;
    margin-top: -300px;
    font-family: 'Catamaran';
}
.img-53k-namber{
    margin-left: 700px;
}
.namber-text{
    margin-left: 700px;
    margin-top: 10px;
    font-family: 'Catamaran';
}
.img-line{
    position: absolute;
    margin-left: 850px;
    margin-top: -80px;
}
.img-400-namber{
    position: absolute;
    margin-left: 900px;
    margin-top: -80px;
}   
.text-namber{
    margin-left: 900px;
    margin-top: -23px;
    font-family: 'Catamaran';
}
.img-line-2{
    position: absolute;
    margin-left: 1080px;
    margin-top: -80px;
}
.img-1-namber{
    position: absolute;
    margin-left: 1130px;
    margin-top: -80px;
}
.text-number{
    margin-left: 1130px;
    margin-top: -23px;
    font-family: 'Catamaran';
}
.business-plan-button{
    width: 180px;
    height: 65px;
    margin-left: 700px;
    margin-top: 30px;
    color: white;
    background: #D22238;
    border-radius: 10px;
    font-family: 'Catamaran';
}
.div-our-vison{
    margin-top: 150px;
}
.our-vison{
    text-align: center;
    font-size: 40px;
    font-family: 'Catamaran';
}
.trans-busi{
    text-align: center;
    font-family: 'Catamaran';
}
.big-cont{
    display: flex;
}
.ferst-cont{
    width: 370px;
    height: 450px;
    margin-left: 55px;
    background: #FFFFFF;
    border-radius: 20px;
}
.second-cont{
    width: 370px;
    height: 450px;
    margin-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 18px 41px rgba(240, 0, 0, 0.06);
    border-radius: 20px;
}
.thers-cont{
    width: 370px;
    height: 450px;
    margin-left: 20px;
    background: #FFFFFF;
    border-radius: 20px;
}
.img-blacnot{
    margin-left: 20px;
    margin-top: 20px;
    background: #F6EFFA;
    border-radius: 10px;
}
.img-sumka{
    margin-left: 20px;
    margin-top: 20px;
    background: #FCEDEF;
    border-radius: 10px;
}
.img-sumka-2{
    margin-left: 20px;
    margin-top: 20px;
    background: #EDFCFB;
    border-radius: 10px;
}
.contact{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}
.over{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}
.eco{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}
.look{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}
.busin{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}
.BPO{
    font-family: 'Catamaran';
    margin-left: 50px;
    margin-top: 30px;
}   
.over-button{
    width: 140px;
    height: 50px;
    border: 1px solid #858585;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
}
.look-button{
    width: 140px;
    height: 50px;
    background: #D22238;
    border-radius: 10px;
    margin-left: 50px;
}
.BPO-button{
    width: 140px;
    height: 50px;
    border: 1px solid #858585;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
}
.servic{
    width: 70px;
    height: 400px;
    margin-left: 330px;
    margin-top: -420px;
}
.name-cont{
    margin-top: 150px;
}
.latest{
    text-align: center;
    font-family: 'Catamaran';
}
.trans{
    text-align: center;
    font-family: 'Catamaran';
}
.name-cont-2{
    background-image: url(img/img-18.png);
    width: 370px;
    height: 550px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
}
.name-cont-3{
    background-image: url(img/img-19.png);
    width: 370px;
    height: 250px;
    position: absolute;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: -550px;
}
.name-cont-4{
    background-image: url(img/img-20.png);
    width: 370px;
    height: 250px;
    position: absolute;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: -250px;
}
.name-cont-6{
    background-image: url(img/img-21.png);
    width: 370px;
    height: 550px;
    position: absolute;
    border-radius: 10px;
    margin-left: 850px;
    margin-top: -550px;
}
.day{
    margin-left: 40px;
    padding-top: 400px;
    color: white;
}
.mistakes{
    margin-left: 30px;
    margin-top: 30px;
    color: white;
}
.day-2{
    margin-left: 30px;
    color: white;
    padding-top: 110px;
}
.update{
    margin-left: 30px;
    color: white;
    margin-top: 30px;
}
.day-3{
    margin-left: 30px;
    padding-top: 400px;
    color: white;
}
.text-name-2{
    text-align: center;
    font-family: 'Catamaran';
    margin-top: 100px;
}
.text-lorem-2{
    text-align: center;
    font-family: 'Catamaran';
}
.int{
    width: 300px;
    height: 60px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 15px; 
    margin-left: 400px;
    margin-top: 100px;
    font-family: 'Catamaran';
}
.int-button{
    width: 140px;
    height: 60px;
    background: #D22238;
    border-radius: 10px;
    margin-top: 100px;
    font-family: 'Catamaran';
}
.img-end-name{
    margin-left: 100px;
    margin-top: 120px;
}
.home-page{
    display: flex;
    list-style: none;
    margin-left: 400px;
    margin-top: -20px;
    font-family: 'Catamaran';
}
.page{
    margin-left: 110px;
    font-size: 15px;
    font-family: 'Catamaran';
}
.lorem{
    margin-left: 100px;
    font-family: 'Catamaran';
}
.img-f{
    margin-left: 100px;
    margin-top: 30px;
}
.img-t{
    margin-left: 30px;
}
.img-inst{
    margin-left: 30px;
}
.img-in{
    margin-left: 30px;
}
.home-page-2{
    margin-left: 510px;
    list-style: none;
    margin-top: -120px;
}
.page-2{
    margin-top: 20px;
    font-family: 'Catamaran';
}
.home-page-3{
    margin-left: 680px;
    margin-top: -185px;
    list-style: none;
    font-family: 'Catamaran';
}
.page-3{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.img-home{
    position: absolute;
    margin-left: 900px;
    margin-top: -155px;
}  
.img-tel{
    position: absolute;
    margin-left: 900px;
    margin-top: -100px;
} 
.img-print{
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
}
.home-page-4{
    margin-left: 950px;
    list-style: none;
    margin-top: -190px;
}
.page-4{
    margin-top: 20px;
    font-family: 'Catamaran';
}   
.img-line-3{
    width: 1265px;
    height: 2px;
    margin-top: 30px;
}
.end-sayt{
    text-align: center;
    font-family: 'Catamaran';
    margin-top: 40px;
}
